html, body{
    height: 100%;
    margin: 0;
    padding: 10px;
}
.container{
    display: grid;

    grid-template-rows: 1fr 10fr 1fr;
}
.header {
    padding: 60px;
    text-align: center;
    background: #1a25bc;
    color: white;
    font-size: 30px;
}

.main {
    padding: 60px;
    text-align: center;
    background: #bc1a1a;
    color: white;
    font-size: 30px;
}

.footer-grid {
    display: grid;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
 float: right;  
}
li{
 display: inline;
 padding: 20px;   
}
a{
  text-decoration: none;
  color: white;  
}
.footer-flex {
    
}